In [214]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

FILE_PATH = "../data.xlsx"

In [215]:
MONTHS = ["Jan","Fev","Mar","Avr","Mai","Juin","Juil","Aoû","Sep","Oct","Nov","Déc"]
COLS_CAT = ['Mode',"Durée","Sexe","Age","Vient pr","Sit Fam","Enfts","Modèle fam.","Prof","Ress","Dem","Sol","Origine"]
COLLS_NO_CAT = ["Tot.Dem.","Tot.Sol","N°"]

In [220]:
data_brut

,N°,Mode,Durée,Sexe,Age,Vient pr,Sit° Fam,Enfts,Modèle fam.,Prof°,...,Dem.1,Dem.2,Dem.3,Tot.dem,Sol.1,Sol.2,Sol.3,Tot.Sol,Origine,Domicile
1,1,3,2,2,4,1,4,3,1,6,...,1d,4c,9b,nan,1,4a,nan,nan,1b,ST Jacut les Pins
2,30,3,1,2,5,1,5a,0,nan,9,...,1a,nan,nan,nan,4c,nan,nan,nan,2a,Auray
3,62,3,1,3,4,1,2,0,nan,11,...,2d,nan,nan,nan,1,4a,nan,nan,1b,Carnac
4,91,3,2,1,3,1,1,0,nan,5,...,3c,nan,nan,nan,1,7b,nan,nan,3b,Auray
5,98,3,2,1,3,1,1,0,nan,6,...,5a,nan,nan,nan,1,7b,nan,nan,1a,Quiberon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,256,3,1,2,4,1,7,nc,nan,6,...,5a,nan,nan,nan,1,nan,nan,nan,5e,Questembert
395,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
396,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
397,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
398,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [216]:
sheets = pd.read_excel(FILE_PATH, sheet_name=None, header=None)

In [195]:
sheets.keys()

dict_keys(['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc', 'TOTAL', 'Total quartiers', 'N°', 'PJ AQTA', 'AQTA', 'PJ Quest', 'Quest CC', 'QPV', '-25 ans', 'CAF', 'Vannes'])

In [217]:
exempledf = sheets['Jan']

In [218]:
tabs_index = exempledf.index[exempledf.iloc[:, 1] == "Mode"].tolist()

In [219]:
tabs_index

[0, 399]

In [198]:
data_brut = exempledf[tabs_index[0]+1:tabs_index[1]]
data_brut.columns = exempledf.iloc[tabs_index[0]]
data_brut = data_brut.iloc[:,:data_brut.columns.get_loc("Domicile")+1]

In [199]:
sec_part = exempledf[tabs_index[1]+2:]

In [200]:
sec_part

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
401,NaN,1.RDV,1. -15min,1.Homme,1.-18ans,1.Soi,1.Célib,0,1.Tradi,1.Sco/étud,...,1. Information,1,1,NaN,1a Bouche à Or.,Allaire,NaN,NaN,NaN,NaN
402,NaN,77,224,132,4,337,89,181,106,2,...,303,NaN,NaN,303,65,NaN,NaN,VANNES AGGLO,NaN,279.0
403,NaN,2.Sans RDV,2. 15/30min,2.Femme,2. 18/25ans,2.Conjoint,2.Concubin,1,2.Monop,2 Pêch/agri,...,2a. Saisine justice internet,2a,2a,NaN,1b Internet,Ambon,NaN,dont VILLE DE VANNES,NaN,142.0
404,NaN,8,117,238,18,9,33,70,50,NaN,...,NaN,NaN,NaN,0,92,1,NaN,NaN,dont Bourdonnaye,6.0
405,NaN,3.Tel,3. 30/45 min,3.Couple,3. 26/40ans,3.Parent,3.Pacsé,2,3.Recomp,3.Chef ent,...,2b. Info ASF/aide CAF,2b,2b,NaN,1c Presse,Arradon,NaN,NaN,dont Kercado,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Ille et Vilaine,NaN,NaN,NaN,NaN
933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Loire-Atlantique,NaN,NaN,NaN,NaN
935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Autres dpts,NaN,NaN,NaN,NaN

In [201]:
header_2 = exempledf.iloc[tabs_index[1]]
sec_part.columns = header_2
sec_part = sec_part.iloc[:,:sec_part.columns.get_loc("Domicile")]

In [202]:
sec_part = sec_part.drop(columns=COLLS_NO_CAT)

In [203]:
map_ = dict()
for col in sec_part.columns:
    map_[col] = dict()
    for line in sec_part[col]:
        if type(line) not in [int,float,np.nan]:
            splt = line.split('.') if "." in line[:round(len(line)/2)] else line.split(' ')
            index = splt[0]
            map_[col][index] = line.replace(index,'').replace('.','').strip()

In [204]:
map_['Dem.2'] = map_['Dem.3'] = map_['Dem.1']

In [212]:
data_brut.astype(str)

,N°,Mode,Durée,Sexe,Age,Vient pr,Sit° Fam,Enfts,Modèle fam.,Prof°,...,Dem.1,Dem.2,Dem.3,Tot.dem,Sol.1,Sol.2,Sol.3,Tot.Sol,Origine,Domicile
1,1,3,2,2,4,1,4,3,1,6,...,1d,4c,9b,nan,1,4a,nan,nan,1b,ST Jacut les Pins
2,30,3,1,2,5,1,5a,0,nan,9,...,1a,nan,nan,nan,4c,nan,nan,nan,2a,Auray
3,62,3,1,3,4,1,2,0,nan,11,...,2d,nan,nan,nan,1,4a,nan,nan,1b,Carnac
4,91,3,2,1,3,1,1,0,nan,5,...,3c,nan,nan,nan,1,7b,nan,nan,3b,Auray
5,98,3,2,1,3,1,1,0,nan,6,...,5a,nan,nan,nan,1,7b,nan,nan,1a,Quiberon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,256,3,1,2,4,1,7,nc,nan,6,...,5a,nan,nan,nan,1,nan,nan,nan,5e,Questembert
395,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
396,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
397,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
398,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [205]:
map_

{'Mode': {'1': 'RDV',
  '2': 'Sans RDV',
  '3': 'Tel',
  '4': 'Courrier',
  '5': 'Mail'},
 'Durée': {'1': '-5min',
  '2': '15/30min',
  '3': '0/45 min',
  '4': '5/60min',
  '5': '+60min'},
 'Sexe': {'1': 'Homme', '2': 'Femme', '3': 'Couple', '4': 'Pro'},
 'Age': {'1': '-8ans',
  '2': '18/5ans',
  '3': '26/40ans',
  '4': '1/60ans',
  '5': '+60ans',
  '6': 'NC'},
 'Vient pr': {'1': 'Soi',
  '2': 'Conjoint',
  '3': 'Parent',
  '4': 'Enfant',
  '5': 'Persmor',
  '6': 'Autre'},
 'Sit° Fam': {'1': 'Célib',
  '2': 'Concubin',
  '3': 'Pacsé',
  '4': 'Marié',
  '5': 'Sép/div',
  '5a': 'Sans enf',
  '5b': 'Rés alt',
  '5c': 'Rés Ppale',
  '5d': 'Droit V/H',
  '5e': 'Parisolé',
  '5f': 'Sép /s mm toit',
  '6': 'Veuf/ve',
  '6a': 'Sans enf à chg',
  '6b': 'Avec enf à chg',
  '7': 'NC'},
 'Enfts': {'+': '', 'NC': ''},
 'Modèle fam.': {'1': 'Tradi', '2': 'Monop', '3': 'Recomp'},
 'Prof°': {'1': 'Sco/étud',
  '2': 'Pêch/agri',
  '3': 'Chef ent',
  '4': 'Libéral',
  '5': 'Militaire',
  '6': 'Employé',
  '7': 'Ouvrier',
  '8': 'Cadre',
  '9': 'Retraité',
  '10': 'Ddeur emploi',
  '11': 'Sss prof°',
  '12.NC': ''},
 'Ress. 1': {'1': 'Salaire',
  '2': 'Revenus pro',
  '3': 'Retraite/rév',
  '4': 'Chômage',
  '5': 'RSA',
  '6': 'AAH/Invalidité',
  '7': 'IJSS',
  '8': 'Bourse',
  '9': 'Sans revenu',
  '10': 'Autre',
  '11': 'NC'},
 'Dem.1': {'1a': 'Union',
  '1b': 'Séparation / divorce',
  '1c': 'Pension alim/ prestation comp',
  '1d': 'Droit de garde',
  '1e': 'Autorité parentale',
  '1f': 'Filiation / adoption',
  '1g': 'Régimes matrimoniaux',
  '1h': 'Protection des majeurs',
  '1i': 'Etat civil',
  '1j': 'Successions',
  '1k': 'Assistance éducative',
  '2a': 'Litiges locatifs',
  '2b': 'Expulsion',
  '2c': "Achat / vente d'un bien",
  '2d': 'Copropriété',
  '2e': 'Droit des biens',
  '2f': 'Construction / Urbanisme',
  '2g': 'Conflit de voisinage',
  '2h': 'Autre',
  '3a': 'Crédit / Reconnaissance de dette',
  '3b': 'Téléphonie / Internet',
  '3c': 'Prestation de service',
  '3d': 'Banque / Assurance',
  '3e': 'Surendettement',
  '3f': 'Autre',
  '4a': 'Responsabilité',
  '4b': "Voies d'exécutions",
  '4c': 'Procédure civile',
  '4d': 'Erreur médicale',
  '4e': 'Accident VTM',
  '4f': 'Autre',
  '5a': 'Exécution/rupture contrat de travail',
  '5b': 'Santé/conditions de travail',
  '5c': 'Droit des affaires / sociétés',
  '5d': 'Droit associatif',
  '5e': 'Autre',
  '5P/5AM': 'Contrat Parent/AssMat',
  '6a': 'Aides sociales',
  '6b': 'Sécurité sociale',
  '6c': 'Retraite',
  '6d': 'Cotisations sociales',
  '6e': 'Autre',
  '7a': 'Pénal auteur/mis en cause',
  '7b': 'Pénal Victime',
  '7c': 'VIF',
  '7d': 'Discriminations',
  '7e': 'Procédure pénale',
  '7f': 'Autre',
  '8a': 'Litige avec une administration',
  '8b': 'Statuts de la fonction publique',
  '8c': 'Droit des étrangers',
  '8d': 'Autre',
  '9a': 'Terminologie juridique',
  '9b': 'Aide juridictionnelle',
  '9c': 'Autre'},
 'Dem.2': {'1a': 'Union',
  '1b': 'Séparation / divorce',
  '1c': 'Pension alim/ prestation comp',
  '1d': 'Droit de garde',
  '1e': 'Autorité parentale',
  '1f': 'Filiation / adoption',
  '1g': 'Régimes matrimoniaux',
  '1h': 'Protection des majeurs',
  '1i': 'Etat civil',
  '1j': 'Successions',
  '1k': 'Assistance éducative',
  '2a': 'Litiges locatifs',
  '2b': 'Expulsion',
  '2c': "Achat / vente d'un bien",
  '2d': 'Copropriété',
  '2e': 'Droit des biens',
  '2f': 'Construction / Urbanisme',
  '2g': 'Conflit de voisinage',
  '2h': 'Autre',
  '3a': 'Crédit / Reconnaissance de dette',
  '3b': 'Téléphonie / Internet',
  '3c': 'Prestation de service',
  '3d': 'Banque / Assurance',
  '3e': 'Surendettement',
  '3f': 'Autre',
  '4a': 'Responsabilité',
  '4b': "Voies d'exécutions",
  '4c': 'Procédure civile',
  '4d': 'Erreur médicale',
  '4e': 'Accident VTM',
  '4f': 'Autre',
  '5a': 'Exécution/rupture contrat de travail',
  '5b': 'Santé/conditions de travail',
  '5c': 'Droit des affaires / sociétés',
  '5d': 'Droit associatif',
  '5e': 'Autre',
  '5P/5AM': 'Contrat Parent/AssMat',
  '6a': 'Aides sociales',
  '6b': 'Sécurité sociale',
  '6c': 'Retraite',
  '6d': 'Cotisations sociales',
  '6e': 'Autre',
  '7a': 'Pénal auteur/mis en cause',
  '7b': 'Pénal Victime',
  '7c': 'VIF',
  '7d': 'Discriminations',
  '7e': 'Procédure pénale',
  '7f': 'Autre',
  '8a': 'Litige avec une administration',
  '8b': 'Statuts de la fonction publique',
  '8c': 'Droit des étrangers',
  '8d': 'Autre',
  '9a': 'Terminologie juridique',
  '9b': 'Aide juridictionnelle',
  '9c': 'Autre'},
 'Dem.3': {'1a': 'Union',
  '1b': 'Séparation / divorce',
  '1c': 'Pension alim/ prestation comp',
  '1d': 'Droit de garde',
  '1e': 'Autorité parentale',
  '1f': 'Filiation / adoption',
  '1g': 'Régimes matrimoniaux',
  '1h': 'Protection des majeurs',
  '1i': 'Etat civil',
  '1j': 'Successions',
  '1k': 'Assistance éducative',
  '2a': 'Litiges locatifs',
  '2b': 'Expulsion',
  '2c': "Achat / vente d'un bien",
  '2d': 'Copropriété',
  '2e': 'Droit des biens',
  '2f': 'Construction / Urbanisme',
  '2g': 'Conflit de voisinage',
  '2h': 'Autre',
  '3a': 'Crédit / Reconnaissance de dette',
  '3b': 'Téléphonie / Internet',
  '3c': 'Prestation de service',
  '3d': 'Banque / Assurance',
  '3e': 'Surendettement',
  '3f': 'Autre',
  '4a': 'Responsabilité',
  '4b': "Voies d'exécutions",
  '4c': 'Procédure civile',
  '4d': 'Erreur médicale',
  '4e': 'Accident VTM',
  '4f': 'Autre',
  '5a': 'Exécution/rupture contrat de travail',
  '5b': 'Santé/conditions de travail',
  '5c': 'Droit des affaires / sociétés',
  '5d': 'Droit associatif',
  '5e': 'Autre',
  '5P/5AM': 'Contrat Parent/AssMat',
  '6a': 'Aides sociales',
  '6b': 'Sécurité sociale',
  '6c': 'Retraite',
  '6d': 'Cotisations sociales',
  '6e': 'Autre',
  '7a': 'Pénal auteur/mis en cause',
  '7b': 'Pénal Victime',
  '7c': 'VIF',
  '7d': 'Discriminations',
  '7e': 'Procédure pénale',
  '7f': 'Autre',
  '8a': 'Litige avec une administration',
  '8b': 'Statuts de la fonction publique',
  '8c': 'Droit des étrangers',
  '8d': 'Autre',
  '9a': 'Terminologie juridique',
  '9b': 'Aide juridictionnelle',
  '9c': 'Autre'},
 'Sol.1': {'1': 'Information',
  '2a': 'Saisine justice internet',
  '2b': 'Info ASF/aide CAF',
  '2c': 'Autre démarche',
  '3a': 'Courrier',
  '3b': 'Requête',
  '3c': 'Autre écriture',
  '4a': 'Orientation avocat',
  '4b': 'Orientation Avocat mineur',
  '4c': 'Orientation Notaire',
  '4d': 'Orientation Huissier',
  '4e': 'Orientation tribunal',
  '4f': 'Orientation Police/gendarmerie',
  '4g': 'Autre',
  '5a': 'Conciliateur de justice',
  '5b': 'Délégué du Défenseur des droits',
  '5c': 'Médiation familiale',
  '5d': 'Médiation administrative',
  '5e': 'Médiation consommation',
  '5f': 'Médiation banque /assurance',
  '6a': 'Mairie / EPCI',
  '6b': 'Direction du travail',
  '6c': 'CAF',
  '6d': 'Maison France Service',
  '6e': 'Préfecture',
  '6f': 'Impôts',
  '6g': 'Autre',
  '7a': 'Aide aux victimes',
  '7b': 'Accès au droit',
  '7c': 'ADIL',
  '7d': 'Association de consomma',
  '7e': 'Autre',
  '8a': 'Travailleur social',
  '8b': 'Professionnel de santé',
  '8c': 'Professionnel jeunesse',
  '8d': 'Autre',
  '9a': 'Protection juridique',
  '9b': 'Autre orghanbisme privé'},
 'Sol.2': {'2a': '',
  '2b': '',
  '2c': '',
  '3a': '',
  '3b': '',
  '3c': '',
  '4a': '',
  '4b': '',
  '4c': '',
  '4d': '',
  '4e': '',
  '4f': '',
  '4g': '',
  '5a': '',
  '5b': '',
  '5c': '',
  '5d': '',
  '5e': '',
  'les': '',
  '6c': '',
  '6d': '',
  '6e': '',
  '7a': '',
  '7b': '',
  '7c': '',
  '7d': '',
  '8a': '',
  '8b': '',
  '8c': '',
  'teurs': ''},
 'Sol.3': {'2a': '',
  '2b': '',
  '2c': '',
  '3a': '',
  '3b': '',
  '3c': '',
  '4a': '',
  '4b': '',
  '4c': '',
  '4d': '',
  '4e': '',
  '4f': '',
  '4g': '',
  '5a': '',
  '5b': '',
  '5c': '',
  '5d': '',
  '5e': '',
  '6a': '',
  '6c': '',
  '6d': '',
  '6e': '',
  '7a': '',
  '7b': '',
  '7c': '',
  '7d': '',
  '8a': '',
  '8b': '',
  '8c': '',
  '8d': ''},
 'Origine': {'1a': 'Bouche à Or',
  '1b': 'Internet',
  '1c': 'Presse',
  '2a': 'Suite',
  '2b': 'Autre pbm',
  '3a': 'Tribunaux',
  '3b': 'Police/Gend',
  '3c Prof': 'du droit',
  '4a': 'CAF',
  '4b': 'DIRECCTE',
  '4c': 'France Service',
  '4d': 'Mairie/EPCI',
  '4e': 'Autre',
  '5a': 'Assistante soc',
  '5b': 'Educ/autre travailleur social',
  '5c': 'Prof de santé',
  '5d Prof': 'Jeunesse',
  '5e': 'RIPAM',
  '5f': 'Autre',
  '6a': 'FV 56',
  '6b': 'Asso conso',
  '6c': 'ADIL',
  '6d': 'UDAF',
  '6e Assoc': 'Accès au droit',
  '6f': 'Autre',
  '7a': 'Protect° jur',
  '7b': 'Autre org Privé',
  '8': 'Action collective',
  '9': '34'}}

In [213]:
data_brut = data_brut.astype(str)
data_brut.replace(map_)

,N°,Mode,Durée,Sexe,Age,Vient pr,Sit° Fam,Enfts,Modèle fam.,Prof°,...,Dem.1,Dem.2,Dem.3,Tot.dem,Sol.1,Sol.2,Sol.3,Tot.Sol,Origine,Domicile
1,1,Tel,15/30min,Femme,1/60ans,Soi,Marié,3,Tradi,Employé,...,Droit de garde,Procédure civile,Aide juridictionnelle,nan,Information,,nan,nan,Internet,ST Jacut les Pins
2,30,Tel,-5min,Femme,+60ans,Soi,Sans enf,0,nan,Retraité,...,Union,nan,nan,nan,Orientation Notaire,nan,nan,nan,Suite,Auray
3,62,Tel,-5min,Couple,1/60ans,Soi,Concubin,0,nan,Sss prof°,...,Copropriété,nan,nan,nan,Information,,nan,nan,Internet,Carnac
4,91,Tel,15/30min,Homme,26/40ans,Soi,Célib,0,nan,Militaire,...,Prestation de service,nan,nan,nan,Information,,nan,nan,Police/Gend,Auray
5,98,Tel,15/30min,Homme,26/40ans,Soi,Célib,0,nan,Employé,...,Exécution/rupture contrat de travail,nan,nan,nan,Information,,nan,nan,Bouche à Or,Quiberon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,256,Tel,-5min,Femme,1/60ans,Soi,NC,nc,nan,Employé,...,Exécution/rupture contrat de travail,nan,nan,nan,Information,nan,nan,nan,RIPAM,Questembert
395,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
396,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
397,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
398,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan